.transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.serif {
  font-family: 'Noto Serif', 'Times New Roman', serif;
}
.sans-serif {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.animation,
.article-container {
  animation: bodyshow 0.9s linear;
}
@-moz-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-o-keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes 'bodyshow' {
  0% {
    top: -60px;
    opacity: 0;
  }
  33% {
    top: -40px;
    opacity: 0.2;
  }
  66% {
    top: -20px;
    opacity: 0.6;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
article .container .row img {
  position: relative;
  left: 25%;
  margin: 30px auto;
  max-width: 55% !important;
  height: auto;
  display: inline-block;
  box-shadow: 0 0 0 5px #fff, 0 0 15px 0 #000;
}
@media only screen and (max-width: 768px) {
  article .container .row img {
    left: 10%;
    max-width: 80% !important;
  }
}
article .container .row .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .container .row .video-container iframe,
article .container .row .video-container object,
article .container .row .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .container .row blockquote {
  font-family: font-serif;
  font-size: 1em;
  padding: 3px 30px 15px;
  color: #808080;
  text-align: left;
}
article .container .row blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .container .row blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .container .row .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article .container .row .pullquote.left {
  float: left;
}
figure.highlight {
  background: #eee;
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: color-meta;
  font-family: font-mono;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
}
figure.highlight table .gutter {
  color: color-meta;
  padding-right: 15px;
  border-right: 1px solid color-border;
  text-align: right;
}
figure.highlight table .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
figure.highlight table .line {
  height: 20px;
}
figure.highlight table .line.marked {
  background: #d6d6d6;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size:100%;
}
html{
	font-size: 10px;
}
body{
	position: relative;
	overflow-x: hidden;
}
.mgt10{
	margin-top: 1rem;
}
.mgt20{
	margin-top: 2rem;
}
.textRight{
    text-align: right;
}
.aSection{
	padding: 5rem 0;
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}
.navbar-customization{
    background-color: transparent;
}
.scroll-header{
    background-color: #4F81BD;
}
.scroll-header a{
    color: white;
}
.navbar-customization a{
    color: white;
}
#home {
    position: relative;
   text-align: center;
   background:url(/img/bgbg.jpg);
}
#home img{
    width: 100%;
    max-width: 1031px;
}
#home #particles-js{
	height: 100%;
	width: 100%;
	position: absolute;
    top: 0;
}
/*.snap-item:before{
   	left: 50%;
    position: absolute;
    background: #f4f6fb;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    content: '';
    width: 450px;
    height: 450px;
	border-radius: 460px;
    box-shadow: 0px 0px 50px #b3b4ce; 
}*/	

#news{
    background: #f5f7fb;
    padding-top:  1vh;
    min-height: 60vh;
}

.post-preview{
    background-color: #eeeeee;
    padding: 0.5rem;
    min-height: 10rem;
    position: relative;
    margin-bottom: 1rem;
}
.post-preview .bottomRight{
    /*padding-top: 0.5rem;
	position: absolute;
	bottom: 1rem;
	right: 1rem;*/
    padding: 0.5rem;
    text-align: right;
}

